umg-product {
    display: block;
}

umg-quick-cart {
    display: block;
}

umg-variant-picker {
    display: block;
}

umg-quantity-input {
    display: block;
}

umg-purchase-confirmation-popup {
    display: block;
}